<div class=back_help>
<h1>操作:添加按钮[基于JS]</h1>
 <div class=operation_desc>添加基于js的按钮</div>
 <div class=back_item_list>
   <h1 class=back_items>字段说明:</h1>
   <table class=thin-table>
   <tr>
    <td>按钮文本</td>
    <td><div clsss=field_desc>按钮显示文本</div></td>
    </tr>
    <tr>
     <td>选择JS文件</td>
     <td><div clsss=field_desc>选择要上传的js文件</div></td>
     </tr>
     <tr>
      <td>入口函数</td>
      <td><div clsss=field_desc>入口函数名称</div></td></tr>
    </table>
  </div>
<div class=back_demo></div>
<div class=back_notice>注意事项:</div>
</div>
<div class=operation_notice>
  该功能常用于对业务表数据的其他操作.比如选中某条记录进行
  复杂的计算等.<br/><hr/>
  代码示范:
 
  <pre>

    NANXplugin.prototype.main=function(btn){
        alert('function main called')
    }
  </pre>

</div>

